<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            font-size: 36px;
        }

        .project {
            background-color: #fff;
            max-width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            margin: 20px auto;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .project img {
            max-width: 100%;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Services</h1>
    </header>

    <section class="project">
        <img src="/img/services.jpg" alt="Project 1">
        <h1>Services</h1>
        <p>
          Custom Software Development<br>
          Web Application Development<br>
          Mobile Application Development<br>
          IT Consulting<br>
          Software Prototyping<br>
          Platform Selection<br>
          Hire a Reliable Software Company
        </p>
    </section>
</body>
</html>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   