<footer>
  <div class="container-fluid bg-dark text-white py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="display-6 text-center mb-4">&copy; All Rights Reserved</h1>
          <p class="text-center">Fall 2023<br>Web Application Development (sec 11)</p>
        </div>
      </div>
    </div>
  </div>
</footer>
